www.zelig.dev {

        handle /* {
                root * /root/projects/dgg-emote-profiles/client/build
                file_server
                try_files {path} /index.html
        }

        handle /dggers {
                reverse_proxy 127.0.0.1:3000
        }
        
        handle /dggers/user {
                reverse_proxy 127.0.0.1:3000
        }
        
        log {
                level debug
                output file /root/projects/dgg-emote-profiles/client/caddy_test.log
        }

}

